.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

.md-v-line {
position: absolute;
border-left: 1px solid rgba(0,0,0,.125);
height: 50px;
top:0px;
left:54px;
}
